table,td{
    border-right: 1px solid #fff;
}
.list_table{
    background: #f6f6f6;
}
.list_table thead tr{
    width: 100%;
    line-height: 45px;
    background: #ff4b4b;
}
.list_table tr th{
    text-align: center;
    border-right: 1px solid #fff;
}
thead tr th:first-child{
    width: 160px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
thead tr th:nth-child(2){
    width: 433px;
}
thead tr th:nth-child(3){
    width: 177px;
}
thead tr th:nth-child(4){
    width: 177px;
}
thead tr th:nth-child(5){
    width: 201px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.list_table tbody tr{
    line-height: 40px;
}
.list_table tbody tr:nth-child(even){
    background: #fff;
}
.list_table tbody tr td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.list_table tbody tr td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
tfoot tr{
    line-height: 68px;
}
.page a{
    float: left;
    text-decoration: none;
}
.page_number{
    margin-right: 15px;
}


