.header{
    width: 100%;
}
.headerTop{
    height: 36px;
    line-height: 36px;
    border-bottom: solid 1px #DFDFDF;
}
.headerTop ul li{
    float: left;
    background: url(../img/balance/headerTop_ulli.png) no-repeat;
    padding: 0 15px;
}
.headerTop ul li:first-child{
    background:none;
}

.headerTop ul li:nth-child(2){
    cursor: auto;
}
.headerBou .logo{
    margin-top: 25px;
}
.headerBou .searchDiv{
    margin-top: 40px;
    width: 298px;
}
.headerBou .searchDiv .searchDiv_form{
    width: 298px;
    height: 32px;
    background: url(../img/balance/searchDiv_form.png) no-repeat;
}
.searchDiv_form .keyword_lf{
    width: 202px;
    height: 28px;
    line-height: 28px;
    margin-top: 2px;
    margin-left: 40px;
    background: transparent;
    color: #666;
}
.searchDiv_form .keyword_ri{
    width: 55px;
    height: 32px;
    background: transparent;
}
.keyword_word{
    margin-top: 7px;
}
.keyword_word li{
    float: left;
    padding-right: 14px;
    color: #666;
}
.keyword_word li{
    float: left;
    padding-right: 14px;
    color: #666;
}
.keyword_word li a{
    color: #666;
}
.keyword_word li a:hover{
    color: blue;
}
.headerMeu{
    height: 40px;
    line-height: 40px;
    background-color: #005BAC;
    margin-top: 20px;
}
.headerMeu .pinDao{
    width: 236px;
    margin-left: 40px;
    float: left;
    position: relative;
}
.headerMeu .pinDao img{
    margin-top: -5px;
    margin-right: 10px;
}
.headerMeu .pinDao a{
    font-size: 16px;
    color: #fff;
}
.channelMall {
    width: 216px;
    height: 457px;
    background-color: #005BAC;
    z-index: 999;
    position: absolute;
    left: -20px;
    top: 40px;
    display: none;
}
.channelMall li {
    height: 55px;
    line-height: 55px;
    border-top: solid 1px #4084C1;
    margin-left: 15px;
    margin-right: 5px;
    padding-left: 20px;
}
.channelMall li.ts{
    width: 253px;
    height: 53px;
    line-height: 53px;
    background-color: #0773D3;
    left: -40px;
    top: 330px;
    z-index: 11;
}
.headerMeu_ul{
    margin-left: 280px;
}
.headerMeu_ul li {
    float: left;
    background: url(../img/balance/headerMenu_ulli.png) no-repeat top right;
    padding: 0 32px;
    font-size: 16px;
}
.headerMeu_ul li:last-child {
    background: none;
}
.headerMeu_ul li img{
    margin: -5px 5px 0 0;
}
.headerMeu_ul li a{
    color: #fff;
}
/* 内容位置 */
.content{
    margin-top: 15px;
    overflow: hidden;
}
.content .navCrumbs_p{
    margin-left:15px;
    font-size: 16px;
    color: #666;
}
